<!DOCTYPE html>
<html lang="en">
<head>
    <script src="ejs.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After multiplication</title>
    <div style="padding-left:550px; padding-top:170px;">
        <table>
            <tr>
                <td id="c1"><h1 style="padding:10px;"><%=arr[0]%></h1></td>
                <td id="c2"> <h1 style="padding:10px;" ><%=arr[1]%></h1></td>
                <td id="c3"><h1 style="padding:10px;" ><%=arr[2]%></h1></td>
            </tr>
            <tr>
                <td id="c4"><h1 style="padding:10px;" ><%=arr[3]%></h1></td>
                <td id="c5"><h1 style="padding:10px;" ><%=arr[4]%></h1></td>
                <td id="c6"><h1 style="padding:10px;" ><%=arr[5]%></h1></td>
            </tr>
            <tr>
                <td id="c7"><h1 style="padding:10px;" ><%=arr[6]%></h1></td>
                <td id="c8"><h1 style="padding:10px;" ><%=arr[7]%></h1></td>
                <td id="c9"><h1 style="padding:10px;" ><%=arr[8]%></h1></td>
            </tr>
        </table>
    </div>
    
</head>
<body>
    
</body>
</html>